@import url('./_valid/edit-profile__button_valid.css');
@import url('./_invalid/edit-profile__button_invalid.css');

.edit-profile__button {
  width: 100%;
  height: 50px;

  margin-top: 48px;

  font-size: 18px;
  line-height: 22px;
}
